__pycache__/
Testing*
SLURM/
Figure_Scripts/
*.pyc
SaveFiles/*
!SampleOutput/
Scripts_OneNode/SingleSystemEvolution/SaveFiles/RandHeatMap_Height_2000_Width_2000_Fitness_0.980_MutProb_0.00100_Radius_40_Random_AreaFraction_0.400/timecourse.npz
Scripts_OneNode/SingleSystemEvolution/SaveFiles/RandHeatMap_Height_2000_Width_2000_Fitness_0.900_MutProb_0.00100_Radius_40_Random_AreaFraction_0.700/timecourse.npz
Scripts_OneNode/SingleSystemEvolution/SaveFiles/LattHeatMap_Height_2000_Width_2000_Fitness_0.900_MutProb_0.00100_Radius_40_Lattice_LatticeSurfSep_41.000_AreaFraction_0.400/timecourse.npz
Scripts_OneNode/SingleSystemEvolution/SaveFiles/RandHeatMap_Height_2000_Width_2000_Fitness_0.900_MutProb_0.00100_Radius_40_Random_AreaFraction_0.400/timecourse.npz
Scripts_OneNode/SingleSystemEvolution/SaveFiles/RandHeatMap_Height_2000_Width_2000_Fitness_0.900_MutProb_0.02000_Radius_40_Random_AreaFraction_0.400/timecourse.npz
Scripts_OneNode/SingleSystemEvolution/SaveFiles/LattHeatMap_Height_2000_Width_2000_Fitness_0.900_MutProb_0.00100_Radius_40_Lattice_LatticeSurfSep_6.000_AreaFraction_0.800/timecourse.npz
Scripts_OneNode/SingleSystemEvolution/SaveFiles/LattHeatMap_Height_2000_Width_2000_Fitness_0.980_MutProb_0.00100_Radius_40_Lattice_LatticeSurfSep_41.000_AreaFraction_0.400/timecourse.npz
